@media (min-width: 768px) {
    /* -----------------------------------------------
                * - * - * HEADER * - * - *
    ----------------------------------------------- */
    /* ______________________
            NAVBAR
    ______________________ */
    .header_navbar {
        height: 8vh;
    }
    .header_navbar_container_link_element picture {
        justify-content: center;
    }
    .header_navbar_container_link_element picture img {
        width: 60%;
    }
    .header_navbar_container_link_element {
        font-size: 6rem;
    }
    /* ______________________
            PICTURE
    ______________________ */
    .header_titulo_conteneder {
        font-size: 2.5rem;
        margin-bottom: 3rem;
        margin-top: 10vh;
    }
    .header_titulo_conteneder_picture {
        width: 65%;
        margin: 1rem 0;
    }
    .header_titulo_conteneder_picture img {
        display: flex;
        width: 30%;
    }
    .header_titulo_conteneder_picture h1 {
        font-size: 5rem;
    }
    /* -----------------------------------------------
               * - * - * MAIN * - * - *
    ----------------------------------------------- */
    main {
        min-height: calc(100vh - 45vh);
    }
    /* _______________________________
                SECCION
    _______________________________ */
    .calculaContainer {
        width: 60%;
        font-size: 3rem;
    }
    .calculaContainer_form input {
        padding: .8rem 1rem;
        font-size: 2.5rem;
    }
    .calculaContainer_form button {
        font-size: 2rem;
        margin: 1rem;
    }
    .calculaContainer > .resultado.active {
        font-size: 2rem;
    }
    /* -----------------------------------------------
                * - * - * FOOTER * - * - *
    ----------------------------------------------- */
    .footer {
        font-size: 3rem;
    }
}