:root {
    --color_1: #f1e3cc;
    --bg_color: #0e242f;
    --color_3: #ff4e62;
    --color_4: #ffb338;
    --bg_color2: #181717;
    /* --bg_color2: #ab4dcf;
    --bg_color3: #2f0434;
    --bg_color4: #626364;  */
    --bg_color3: #343d5b;
    --focus_color_1: #2396f9;
}
/* Reseteando los estilos de los navegadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #290c27; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #290c18, #632b57, #3e2435); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #290c20, #632b50, #3e2437); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.index {
    background: #0c2919; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0c290e, #2b6330, #243e25); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0d290c, #3f632b, #243e2a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/* -----------------------------------------------
            * - * - * HEADER * - * - *
----------------------------------------------- */
.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
}
/* ______________________
        NAVBAR
______________________ */
.header_navbar {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10vh;
    min-height: 10vh;
    justify-content: center;
    background-color: var(--bg_color);
    padding: 1rem .5rem;
}
.header_navbar_container {
    display: flex;
    width: 95%;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.header_navbar_container_link {
    display: flex;
    width: 18%;
    text-decoration: none;
    color: whitesmoke;
}
.header_navbar_container_link.active {
    color: turquoise;
}
.header_navbar_container_link_element picture {
    display: flex;
    align-items: center;
    width: 100%;
}
.header_navbar_container_link_element picture h2{
    display: none;
}
.header_navbar_container_link_element picture img {
    width: 80%;
}
.header_navbar_container_link_element {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 2.5rem;
}
.header_navbar_container_link_element span {
    display: none;
}

/* ______________________
        PICTURE
______________________ */
.header_titulo_conteneder {
    display: flex;
    margin-top: 9vh;
    width: 95%;
    height: 15vh;
    justify-content: center;
    flex-wrap: wrap;
    transition: .3s ease all;
}
.header_titulo_conteneder_picture {
    display: flex;
    width: 75%;
    align-items: center;
    flex-wrap: nowrap;
}
.header_titulo_conteneder_picture img {
    display: flex;
    width: 20%;
    transition: .3s ease all;
}
.header_titulo_conteneder_picture h1 {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    transition: .3s ease all;
}
.header_titulo_conteneder-subtitle {
    width: 80%;
    text-align: center;
}
/* -----------------------------------------------
            * - * - * MAIN * - * - *
----------------------------------------------- */
main {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 55vh);
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 2rem;
}
/* _______________________________
            SECCION
_______________________________ */
.calculaContainer {
    border: .1rem solid #c2c2c2;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.5rem;
    background-color: rgba(255, 255, 255, .1);
    width: 85%;
}
.calculaContainer-title {
    display: flex;
    width: 100%;
    text-align: center;
    color: var(--color_4);
}
.calculaContainer-title i {
    margin-right: .5rem;
}
.calculaContainer span {
    padding: .5rem .2rem;
}
.calculaContainer_form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.calculaContainer_form label, .calculaContainer_form input {
    display: flex;
    width: 100%;
    margin: .5rem 0;
}
.calculaContainer_form input {
    padding: .2rem .5rem;
    outline: none;
    border-radius: .5rem;
}
.calculaContainer_form button {
    margin: .5rem 0;
    width: 90%;
    border-radius: .5rem;
    border: none;
    padding: .8rem;
    background-color: tomato;
    color: var(--bg_color2);
    font-weight: bold;
    transition: .3s ease all;
    box-shadow: .3rem .3rem .5rem #000;
}
.calculaContainer_form button:hover {
    background-color: rgb(212, 66, 41);
    color: white;
}
.calculaContainer > .resultado.active {
    width: 100%;
    margin: .5rem 0;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: .5rem;
    align-items: center;
    background-color: rgb(148, 147, 147);
    border-radius: .5rem;
    color: var(--bg_color2);
    font-size: 1.2rem;
    box-shadow: .2rem .2rem .5rem #000;
}
/* -----------------------------------------------
            * - * - * FOOTER * - * - *
----------------------------------------------- */
.footer {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    align-items: center;
    top: 0;
    height: 9vh;
    background: var(--bg_color2);
}
.footer_container {
    list-style: none;
    display: flex;
    width: 30%;
    padding: .2rem;
    justify-content: space-between;
}
.footer_container > a > li > i:hover {
    box-shadow: .2rem .2rem .2rem #000;
    color: rgba(255, 255, 255, .3);
}
.footer > .info {
    display: flex;
    width: 100%;
    justify-content: center;

}
.fa-linkedin {
    color: rgb(14, 118, 168);
}
.fa-youtube-square {
    color: #c4302b;
}
/* ------------------------------
            JQUERYCONFIRM
------------------------------ */
.jc-bs3-container.container {
    display: flex;
    width: 100%;
    justify-content: center;
    color: #000;
}
.jquery_confirm_form {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.jquery_confirm_form label {
    width: 100%;
}
.jquery_confirm_form input {
    margin-left: 1rem;
    width: 20%;
    border: none;
    background: #c2c2c2;
    border-radius: .5rem;
    padding: .5rem;
    outline: none;
}

@media (min-height: 600px) {
    /* ______________________
            NAVBAR
    ______________________ */
    .header_navbar {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 14vh;
        min-height: 10vh;
        justify-content: center;
        background-color: var(--bg_color);
        padding: 1rem .5rem;
    }
    /* -----------------------------------------------
                * - * - * HEADER * - * - *
    ----------------------------------------------- */
    /* ______________________
            NAVBAR
    ______________________ */
    .header_navbar {
        display: flex;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 14vh;
        min-height: 10vh;
        justify-content: center;
        background-color: var(--bg_color);
        padding: 1rem .5rem;
    }
    .header_navbar_container_link_element picture img {
        width: 100%;
    }
    .header_navbar_container_link_element {
        font-size: 4.5rem;
    }
    /* ______________________
            PICTURE
    ______________________ */
    .header_titulo_conteneder {
        margin-top: 12vh;
        height: 15vh;
    }
    .header_titulo_conteneder_picture {
        width: 90%;
    }
    .header_titulo_conteneder_picture img {
        display: flex;
        width: 30%;
    }
    .header_titulo_conteneder_picture h1 {
        font-size: 3.2rem;
    }
    /* -----------------------------------------------
                * - * - * MAIN * - * - *
    ----------------------------------------------- */
    .calculaContainer_form button {
        width: 80%;
    }
    .calculaContainer > .resultado.active {
        font-size: 1.6rem;
    }
}