/* -----------------------------------------------
    * - * - * VARIABLES A USAR * - * - *
----------------------------------------------- */
:root {
    --color_1: #f1e3cc;
    --color_3: #ff4e62;
    --color_4: #ffb338;
    --bg_color: #0e242f;
    --bg_color2: #181717;
    --bg_color3: #343d5b;
}
/* -----------------------------------------------
    * - * - * RESETEANDO ESTILOS * - * - *
----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* -----------------------------------------------
    * - * - * PANTALLAS DE 768PX * - * - *
----------------------------------------------- */
@media (min-width: 768px) {
    /* -----------------------------------------------
                * - * - * HEADER * - * - *
    ----------------------------------------------- */
    .header_navbar{
        top: 0;
    }
    /* -----------------------------------------------
                * - * - * FOOTER * - * - *
    ----------------------------------------------- */
    .footer {
        bottom: 0;
        top: unset;
    }
    .index.scroll > .footer {
        margin-bottom: -5rem;
    }

}

/* -----------------------------------------------
    * - * - * PANTALLAS DE 1024px * - * - *
----------------------------------------------- */
@media (min-width: 1024px) {
    /* -----------------------------------------------
                * - * - * HEADER * - * - *
    ----------------------------------------------- */
    .header_navbar_logo picture h2 {
        display: flex;
        margin-left: 1rem;
    }
    .header_navbar_logo img, .header_navbar_logo h2 {
        transition: .3s all ease;
    }
    .header_navbar_logo:hover img {
        transform: rotate(-25deg);
        filter: blur(.075rem);
    }
    .header_navbar_logo:hover h2 {
        color: var(--color_4);
        filter: blur(.075rem);
        transform: scale(115%);
    }

    /* Estilos de la lista */
    .header_navbar_list {
        justify-content: end;
        width: 60%;
        position: absolute;
        right: 0;
    }
    .header_navbar_list_link {
        display: flex;
        width: 30%;
    }
    .header_navbar_list_link-element {
        font-size: 2.5rem;
        display: flex;
        width: 100%;
    }
    .header_navbar_list_link-element span {
        display: flex;
        margin-left: 1rem;
    }

    /* -----------------------------------------------
                * - * - * FOOTER * - * - *
    ----------------------------------------------- */
    .footer_container_link {
        font-size: 3.5rem;
    }
    .footer_info {
        font-size: 1.6rem;
    }
}
/* -----------------------------------------------
    * - * - * PANTALLAS DE 1280px * - * - *
----------------------------------------------- */
@media (min-width: 1280px) {
    .body {
        justify-content: start;
    }
    /* -----------------------------------------------
                * - * - * HEADER * - * - *
    ----------------------------------------------- */
    .header {
        height: 100vh;
        width: 25rem;
        position: fixed;
    }
    .header_navbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
    }
    .header_navbar_logo {
        position: relative;
        justify-content: start;
        width: 100%;
        height: 8rem;
        padding: 1.5rem 2.5rem;
    }
    .header_navbar_logo img, .header_navbar_logo h2 {
        transition: .3s all ease;
    }
    .header_navbar_logo:hover img {
        transform: rotate(-25deg);
        filter: blur(.075rem);
    }
    .header_navbar_logo:hover h2 {
        color: var(--color_4);
        filter: blur(.075rem);
        transform: scale(115%);
    }
    .header_navbar_list {
        position: relative;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
        margin-top: .2rem;
    }
    .header_navbar_list_link {
        display: flex;
        width: 100%;
        padding: 1.5rem 2.5rem;
    }
    ..header_navbar_list_link-element {
        width: 100%;
    }
    .header_navbar_list_link:hover {
        transform: none;
        background-color: var(--bg_color3);
    }
    /* -----------------------------------------------
                * - * - * MAIN * - * - *
    ----------------------------------------------- */
    .main {
        margin-left: 25rem;
    }
     /* -----------------------------------------------
                * - * - * FOOTER * - * - *
    ----------------------------------------------- */
    .footer {
        height: 6rem;
    }
    .footer_container {
        width: 10%;
    }
    .footer_container_link {
        font-size: 3rem;
    }
    .footer_info {
        font-size: 1.6rem;
        width: 100%;
        justify-content: center;
        order: 2;
    }
}
