section {
    width: 70%;
    min-height: calc(100vh - 5rem);
    border-right: 1rem solid #c2c2c2;
    border-left: 1rem solid #c2c2c2;
}
.titleContainer {
    padding-top: 8rem;
}

.formCalcular {
    max-width: 40rem;
}
.descuentoForm_select label {
    width: 30%;
}