:root {
    --color_1: #5a8dda;
    --color_2: #ff4e62;
    --color_3: #ffb338;
    
    /* Fuentes */
    --chelsea: 'Chelsea Market', cursive;
    --gaby: 'Gabriela', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    background: #000;
    background-image: url('../../assets/numbers.jpg');
    background-size: 100%;
}
main {
    margin: 4rem 0 6rem 0;
    font-family: var(--chelsea);
    width: 100%;
}

.titleContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--color_2);
}
.titleContainer h1 {
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
}
.titleContainer p {
    width: 100%;
    margin-top: 1rem;
    text-align: center;
}
.titleContainer img {
    width: 15%;
    display: inline-block;
    max-width: 10rem;
    text-align: center;
    margin:0 auto ;
}