:root {
    --color_1: #5a8dda;
    --color_2: #ff4e62;
    --color_3: #ffb338;
    /* Fuentes */
    --chelsea: 'Chelsea Market', cursive;
    --gaby: 'Gabriela', serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 84%);
    background-size: cover;
}
main {
    margin: 4rem 0 7rem 0;
}
section {
    min-width: 27rem;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.calculador .title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    font-weight: bold;
    font-family: var(--chelsea);
    margin-bottom: .5rem;
}
.calculador img {
    min-width: 4rem;
    width: 8rem;
}
.calculador h1 {
    width: 100%;
    font-size: 3.2rem;
    text-align: center;
    color: #c2c2c2;
    text-shadow: .2rem .2rem .2rem #000;
}

.calculador .subtitle {
    font-weight: bold;
    text-align: center;
    text-shadow: .2rem .2rem .3rem #fff;
    margin-bottom: 1rem;
    font-family: var(--chelsea);

}
.calculador .subtitle span {
    text-shadow: .2rem .2rem .3rem #000;
}
.calculador .subtitle .s-1 {
    color: lightgreen;
}
.calculador .subtitle .s-2 {
    color: magenta;
}
.calculador .subtitle .s-3 {
    color: gold
}

.calculador .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 10rem;
    max-height: auto;
    padding: 1rem;
    font-family: var(--chelsea);
    border-radius: .8rem;
    background-image: linear-gradient( 135deg, #3677FF 10%, #FFD26F 100%);
    box-shadow: .4rem .4rem .6rem #000;
    margin-bottom: 1rem;
}

.calculador .inputs {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: .7rem;
}
.calculador .inputs p {
    width: 100%;
    margin-bottom: .7rem;
}
.calculador .inputs input {
    width: 40%;
    padding: 1rem;
    border-radius: 2.5rem 0 0 2.5rem;
    outline: none;
    border: none;
}
.calculador .inputs button i {
    margin-right: .5rem;
}
.calculador .inputs button {
    width: 40%;
    font-size: 1rem;
    border-radius: 0 2.5rem 2.5rem 0;
    border: none;
    border-left: .4rem solid #fae078;
    background: #fff107;
    font-size: 1.4rem;
    font-family: var(--gaby);
    color: blue;
    transition: all .3s ease;
    /* background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%) */
}
.calculador .inputs button:hover {
    background: #fae078;
    border-left: .4rem solid #d8b630;
    color: green;
}



.lista {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
    max-width: 50rem;
    color: floralwhite;
    text-shadow: .1rem .1rem .2rem #000;
}
.lista span {
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    overflow-wrap: break-word;
    margin-bottom: 1rem;
}
.calculaeBtn i {
    margin-right: 1rem;
}

.calculaeBtn, .nuevoBtn {
    padding: 1rem;
    font-family: var(--chelsea);
    font-weight: bold;
    background-color: transparent;
    cursor: pointer;
    font-size: 2rem;
    margin: 1rem .8rem;
    border: none;
    position: relative;
    color: #566473;
    transition:all .6s ease;

}
.nuevoBtn {
    color: blue;
}
.calculaeBtn::after,
.nuevoBtn::after,
.nuevoBtn::before,
.calculaeBtn::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: .2rem solid;
    transition:all .6s ease;
    border-radius:2px
}
.calculaeBtn::after {
    bottom: 0;
    right: 0;
    border-color: transparent #566473 #566473 transparent;
}
.nuevoBtn::after {
    bottom: 0;
    right: 0;
    border-color: transparent blue blue transparent;
}
.nuevoBtn::before {
    top: 0;
    left: 0;
    border-color: blue transparent transparent blue;
}
.calculaeBtn::before {
    top: 0;
    left: 0;
    border-color: #566473 transparent transparent #566473;
}
.calculaeBtn:hover::after,
.calculaeBtn:hover::before {
    width: 100%;
    height: 100%;
}
.nuevoBtn:hover::after,
.nuevoBtn:hover::before {
    width: 100%;
    height: 100%;
    border-color: blue;
}
.calculaeBtn:hover {
    background: pink;
    color: purple;
}
.nuevoBtn:hover {
    background: brown;
    color: white;
}
.nuevoBtn.disabled {
    color: grey;
}
.nuevoBtn.disabled::after {
    bottom: 0;
    right: 0;
    border-color: transparent grey grey transparent;
}
.nuevoBtn.disabled::before {
    top: 0;
    left: 0;
    border-color: grey transparent transparent grey;
}
.nuevoBtn.disabled:hover::after,
.nuevoBtn.disabled:hover::before {
    width: 20%;
    height: 20%;
}
.nuevoBtn.disabled:hover {
    background: transparent;
}


.respuestas {
    background: linear-gradient(170deg, transparent, #000);
    border-radius: 2.5rem;
}
.promedio, .mediana, .moda {
    font-family: var(--chelsea);
    text-align: center;
    text-shadow: .2rem .2rem .5rem #000;
}
.promedio {
    color: lightgreen;
}
.mediana {
    color: magenta;
}
.moda {
    color: gold;
}