main {
    height: calc(100vh - 18rem);
    margin: 8rem 0 auto 0;
    justify-content: center;
}
.main_shapesContainer-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 8rem;
}
.main_shapesContainer-title h1 {
    margin-left: 1rem;
}

.main_shapesContainer-title p {
    width: 100%;
}
.main_shapesContainer {
    min-height: 100vh;
}
.main_shapesContainer-containerButtons {
    display: none;
}
.main_shapesContainer-Slide {
    width: 50%;
    align-self: center;
    flex-wrap: wrap;
    height: auto;
    max-height: 100vh;
    justify-content: center;
    align-items: flex-start;
    overflow-x: unset;
    overscroll-behavior-x: unset;
    scroll-snap-type: unset;
}
.formShape_container {
    transform: scale(90%);
    width: 40%;
    min-height: auto;
    max-height: 100vh;
    margin: .5rem;
    margin-bottom: 0;
    margin-top: 0;
}
.formShape_container form {
    margin-bottom: -1rem;
}