/* -----------------------------------------------
    * - * - * VARIABLES A USAR * - * - *
----------------------------------------------- */
:root {
    --color_1: #f1e3cc;
    --color_3: #ff4e62;
    --color_4: #ffb338;
    --bg_color: #0e242f;
    --bg_color2: #181717;
    --bg_color3: #343d5b;
}
/* -----------------------------------------------
    * - * - * RESETEANDO ESTILOS * - * - *
----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* -----------------------------------------------
    * - * - * PANTALLAS DE 768PX * - * - *
----------------------------------------------- */
@media (min-width: 768px) {
    /* -----------------------------------------------
                * - * - * HEADER * - * - *
    ----------------------------------------------- */
    .header_navbar{
        top: 0;
    }
    /* -----------------------------------------------
                * - * - * FOOTER * - * - *
    ----------------------------------------------- */
    .footer {
        bottom: 0;
        top: unset;
    }
    .index.scroll > .footer {
        margin-bottom: -5rem;
    }

}

/* -----------------------------------------------
    * - * - * PANTALLAS DE 1024px * - * - *
----------------------------------------------- */
@media (min-width: 1024px) {
    /* -----------------------------------------------
                * - * - * HEADER * - * - *
    ----------------------------------------------- */
    .header_navbar_logo picture h2 {
        display: flex;
        margin-left: 1rem;
    }

    /* Estilos de la lista */
    .header_navbar_list {
        justify-content: end;
        width: 60%;
        position: absolute;
        right: 0;
    }
    .header_navbar_list_link {
        display: flex;
        width: 30%;
    }
    .header_navbar_list_link-element {
        font-size: 2.5rem;
        display: flex;
        width: 100%;
    }
    .header_navbar_list_link-element span {
        display: flex;
        margin-left: 1rem;
    }

    /* -----------------------------------------------
                * - * - * FOOTER * - * - *
    ----------------------------------------------- */
    .footer_container_link {
        font-size: 3.5rem;
    }
    .footer_info {
        font-size: 1.6rem;
    }
}
/* -----------------------------------------------
    * - * - * PANTALLAS DE 1280px * - * - *
----------------------------------------------- */
@media (min-width: 1280px) {
    /* -----------------------------------------------
                * - * - * HEADER * - * - *
    ----------------------------------------------- */
    .header_navbar_list {
        width: 35%;
    }
     /* -----------------------------------------------
                * - * - * FOOTER * - * - *
    ----------------------------------------------- */
    .footer {
        height: 6rem;
    }
    .footer_container {
        width: 10%;
    }
    .footer_container_link {
        font-size: 3rem;
    }
    .footer_info {
        font-size: 1.6rem;
        width: 100%;
        justify-content: center;
        order: 2;
    }
}
