/* -----------------------------------------------
    * - * - * VARIABLES A USAR * - * - *
----------------------------------------------- */
:root {
    --color_1: #f1e3cc;
    --color_3: #ff4e62;
    --color_4: #ffb338;
    --bg_color: #0e242f;
    --bg_color2: #181717;
    --bg_color3: #343d5b;
}
/* -----------------------------------------------
    * - * - * RESETEANDO ESTILOS * - * - *
----------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body {
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
/* -----------------------------------------------
            * - * - * HEADER * - * - *
----------------------------------------------- */
.header, .header_navbar{
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg_color);
    width: 100%;
    justify-content: center;
    align-items: center;
    color: var(--color_1);
}
.header_navbar{
    height: 6rem;
    width: 100%;
    justify-content: start;
    position: fixed;
    bottom: 0;
    transition: .3s all ease;
}

/* Estilos de Logo KodePrint */
.header_navbar_logo {
    height: 5rem;
    display: flex;
    justify-content: center;
    color: var(--color_1);
    text-decoration: none;
    width: 25%;
}
.header_navbar_logo picture {
    display: flex;
    align-items: center;
}
.header_navbar_logo picture img {
    height: 5rem;
}
.header_navbar_logo picture h2 {
    display: none;
}

/* Estilos de la lista */
.header_navbar_list {
    list-style: none;
    display: flex;
    width: 75%;
    justify-content: space-around;
}
.header_navbar_list_link {
    color: var(--color_1);
    text-decoration: none;
    font-size: 3.5rem;
    transition: .3s ease all;
}
.header_navbar_list_link:hover {
    color: var(--color_4);
    filter: blur(.1rem);
    transform: scale(120%);
}
.header_navbar_list_link-element span {
    display: none;
}
/* -----------------------------------------------
            * - * - * MAIN * - * - *
----------------------------------------------- */
/* Titulo de la pagina */
.main {
    margin: 6rem 0 6rem 0;
    color: var(--color_1);
    /* display: flex; */
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    min-height: calc(100vh - 14rem);
}
.main h1 {
    font-size: 3.2rem;
}
.main h2 {
    font-size: 2.4rem;
}
.main_title {
    display: flex;
    flex-wrap: wrap;
}
.main_title_containerPciture {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.main_title_containerPciture img {
    width: 20%;
    margin-right: 1rem;
}
.main_title_containerPciture h1 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.main_title span{
    display: flex;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
    justify-content: center;
}
.main_shapes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
}
.main_shapes-span {
    width: 100%;
    justify-content: center;
    text-align: center;
}
.main_shapes_container button {
    margin-right: 1rem;
    border-radius: 15%;
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    box-shadow: .2rem .2rem .5rem #000;
    background-color: var(--color_3);
    color: whitesmoke;
    margin-top: .5rem;
}
.main_shapes_container button.selected  i {
    color:var(--color_4)
}
/* Contenedor del formulario */
.main_container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    width: 100%;
    justify-content: center;
    overflow: hidden;
}
.formShape {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 20rem;
    width: 85%;
    min-width: 85%;
    padding: 2rem;
    box-shadow: .2rem .5rem .5rem #000;
    border-radius: 5rem;
    margin: 2rem 2rem;
    background-color: rgba(255, 255, 255, .2);
    transition: .3s all ease;
    font-size: 1.2rem;
}
.formShape h2 {
    text-align: center;
    margin-bottom: 1rem;
}
.formShape h2 > i {
    margin-right: 1rem;
}
.formShape button {
    width: 48%;
}
.formShape input {
    border-radius: .5rem;
    margin: .5rem 0;
    padding: .1rem .5rem;
}
.formShape_buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 1rem;
}
.main_container_form-perimetro {
    border-radius: 1rem;
    padding: .5rem;
    background-color: var(--color_4);
    font-weight: bold;
    box-shadow: .2rem .2rem .5rem #000;
    color: var(--color_1);
    text-shadow: .2rem .2rem .5rem #000;
    border: none;
}
.main_container_form-area {
    border-radius: 1rem;
    padding: .5rem;
    background-color: var(--color_3);
    font-weight: bold;
    box-shadow: .2rem .2rem .5rem #000;
    color: var(--color_1);
    text-shadow: .2rem .2rem .5rem #000;
    border: none;
}
/* Dando estilo al del Cuadrado */
.main_container_formSquare_lados {
    display: flex;
    flex-direction: column;
    width: 100%;
}
/* Dando estilo al del Triangulo */
.main_container_formTriangle_lados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_container_formTriangle_lados div {
    display: flex;
    width: 45%;
    align-items: center;
}
.main_container_formTriangle_lados div input{
    display: flex;
    width: 90%;
    margin-left: .5rem;
}
div.main_container_formTriangle_base {
    width: 100%;
}
.main_container_formTriangle_base input {
    width: 100%;
}
/* OCULTANDO LOS FORMULARIOS */

/* HACIENDOLOS VISIBLES */
.main_container_formSquare.visible {
    margin-left: 200vw;
}
.main_container_formCircle.visible {
    margin-right: 200vw;
}

/* -----------------------------------------------
            * - * - * FOOTER * - * - *
----------------------------------------------- */
.footer {
    height: 5rem;
    display: flex;
    position: fixed;
    top: 0;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    transition: .3s ease all;
    background-color: var(--bg_color);
    color:  var(--color_1);
}
.footer_container {
    display: flex;
    list-style: none;
    width: 40%;
    align-items: center;
    justify-content: space-around;
    order: 2;
}
.footer_container_link {
    font-size: 3rem;
    text-decoration: none;
}
.footer_container_link:hover {
    filter: blur(.15rem);
    transform: scale(130%);
}
.footer_container_link-element {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.footer_container_link-element::after{
    content: "";
    width: 2.2rem;
    height: 2.2rem;
    position: absolute;
    background-color: #fff;
    border-radius: 15%;
}
.footer_container_link-element .fab {
    z-index: 3;
}
.fa-linkedin {
    color: #0E76A8;
}
.fa-github-square {
    color: purple;
}
.fa-youtube-square {
    color: #C4302b;
}
.footer_info {
    display: flex;
    width: 45%;
    font-size: 1rem;
    align-items: center;
    justify-content: start;
    text-align: center;
}
.index.scroll > .footer {
    margin-top: -5rem;
}
@media (max-height: 568px){
    .formShape {
        transform: scale(80%);
    }
}

@media (min-width: 375px){
    .main_shapes span {
        font-size: 2.4rem;
    }
    .main_shapes_container {
        display: flex;
        width: 60%;
        justify-content: space-around;
        text-align: center;
    }
    .main_shapes_container button {
        font-size: 3rem;
        width: 100%;
        height: 100%;
        padding: .5rem;
    } 
    /*------------------------*/
    .main {
        display: flex;
        align-items: center;
    }
    .formShape {
        height: 30rem;
        font-size: 2rem;
    }
    .formShape h2 {
        font-size: 3rem;
    }
}
@media (min-width: 768px){
    .main_title_containerPciture h1 {
        font-size: 6rem;
    }
    .main_shapes-span {
        font-size: 5rem;
    }
    .main_shapes_container {
        display: flex;
        width: 20%;
        justify-content: space-around;
        text-align: center;
    }
    /* ---------------- */
    .main_container {
        height: 45rem;
    }
    /*--------------------*/
    .formShape {
        width: 50%;
        min-width: 60%;
        height: 40rem;
        margin: 0 12rem;
        font-size: 3rem;
    }
    .formShape h2 {
        font-size: 6rem;
        margin-bottom: 5rem;
    }
    .formShape div>input{
        font-size: 3rem;
        border-radius: 1rem;
    }
    .formShape_buttons button{
        font-size: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}
@media (min-width: 1024px){
    .formShape {
        min-width: 50%;
        margin: 0 20rem;
    }
}
@media (min-width: 1280px){
    .main_title {
        justify-content: center;
    }
    .main_title_containerPciture {
        display: flex;
        width: 40%;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-self: center;
    }
    .main_title_containerPciture h1 {
        display: flex;
        text-align: left;
        width: 100%;
        justify-content: start;
        font-size: 4.2rem;
    }
    .main_title span {
        font-size: 1.6rem;
    }
    /* ----------------- */
    .main_shapes span {
        font-size: 2rem;
    }
    .main_shapes_container {
        width: 20%;
    }
    .main_shapes_container button {
        padding: 1.5rem;
        display: block;
        width: auto;
    }
    /* ---------------- */
    .formShape {
        min-width: 35%;
        margin-top: 2rem;
        margin-left: calc(100vw/3.9);
        margin-right: calc(100vw/3.9);
    }
    
}

